<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8" />
  <title>تسجيل الدخول</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>تسجيل دخول الأدمن</h2>
  <form method="POST" action="/login">
    <input type="email" name="email" placeholder="الإيميل" required /><br><br>
    <input type="password" name="password" placeholder="كلمة المرور" required /><br><br>
    <button type="submit">دخول</button>
  </form>
</body>
</html>
